<!DOCTYPE html>

<html lang = "de">
    <head>
        <meta charset = "utf-8">
        <title>Map</title>
        <meta  content = "width = device-width">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin="">
   </script>
    </head>

    <body>
        <header>
            <h1>Corona-Walks</h1>
        </header>

        <section>
            <h2>Map: Diagnosed with Corona</h2>
        </section>

        <div id="mapid"></div>
        <style>
        #mapid { height: 300px;}
        #mapid { width: 300px;}
        </style>

        <script src="mapScript.js"></script>
          <!--  <img src="images/Map.PNG" alt="Map" usemap="#workmap" width="867" height="445">
            <map name="workmap">
                <area shape="rect" coords="10,10,40,40" alt="Map" href="images/Map.PNG">
                <area shape="rect" coords="360,170,46,27" alt="Play Ground">
            </map>-->


    </body>
</html>
